pymupdf 
chromadb 
langdetect 
indic-nlp-library
easyocr 
opencv-python
pillow
pdf2image
pytesseract
matplotlib
langchain==0.2.5 
cohere==5.5.8 
langchain-community==0.2.5 
rank_bm25==0.2.2 
sentence-transformers==3.0.1
dotenv
tqdm
pandas
numpy
scikit-learn
python-dotenv
faiss-cpu

fastapi
uvicorn
pydantic
langchain-huggingface
langchain_cohere 